vti_encoding:SR|utf8-nl
vti_author:SR|Julien
vti_cachedlinkinfo:VX|S|btzhsepd.gif S|btzbul1d.gif S|btzbul2d.gif S|btzbul3d.gif S|btzbannd.gif S|btznvhnd.gif S|btznvhsd.gif S|btznvvnd.gif S|btznvvsd.gif S|btzhomed.gif S|btznextd.gif S|btzprevd.gif S|btzupbtd.gif
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_syncwith_julesnet2000\:80/gc161:TR|04 Feb 2026 20:27:31 -0600
vti_timecreated:TR|04 Feb 2026 20:27:31 -0600
vti_filesize:IX|1732
vti_modifiedby:SR|Julien
vti_cacheddtm:TX|04 Feb 2026 20:27:31 -0600
vti_backlinkinfo:VX|
vti_cachedhasbots:BR|false
vti_extenderversion:SR|3.0.2.1330
vti_timelastmodified:TR|04 Feb 2026 20:27:31 -0600
