html {
	background: url('../images/background2.jpg');
}

body {
	color: white;
}

body h1, #menu, #footer, .main-content {
	text-align: center;
}

#menu ul li {
	display: inline-block;
	margin-right: 20px;
}

.main-content {
	padding-top: 200px;
}

#footer {
	position: fixed;
    bottom: 0;
	width: 100%;
	padding-bottom: 10px;
}

#footer a {
    display: block;
    padding-bottom: 10px;
}

marquee {
    font-size: 20px;
    color: red;
    font-family: "Comic Sans MS";
}

#compatibility {
    position: absolute;
    right: 25px;
    bottom: 15px;
}

#aboutme ul li {
	list-style-type: disclosure-closed;
}

.aboutme#menu a:visited, .aboutme#menu a {
	color: red;
}

.main-content#aboutme {
	text-align: left;
	margin-left: 200px;
	padding-top: 50px;
}

#footer a:hover {
	cursor: default;
}
