html {
	background: url('../images/background2.jpg');
}

body {
	color: white;
	margin: 0;
}

body h1, #menu, #footer, #footer-blog, .main-content {
	text-align: center;
}

#menu ul li {
	display: inline-block;
	margin-right: 20px;
}

.main-content {
	padding-top: 200px;
	min-height: 800px;
}

/*Footer*/
#footer, #footer-blog {
	position: relative;
    bottom: 0;
	width: 100%;
	padding-bottom: 10px;
}

#footer a, #footer-blog a {
    display: block;
    padding-bottom: 10px;
}

#footer a:hover, #footer-blog a:hover {
	cursor: default;
}

marquee {
    font-size: 20px;
    color: red;
    font-family: "Comic Sans MS";
}

#compatibility {
    position: absolute;
    right: 25px;
    bottom: 15px;
}

/*About Me Page*/
#aboutme ul li, #side-menu ul li, #links ul li, #faq ul li {
	list-style-type: disclosure-closed;
}

.aboutme#menu a:visited, .aboutme#menu a {
	color: red;
}

.main-content#aboutme, .main-content#links {
	margin-right: 200px;
	text-align: left;
	margin-left: 200px;
	padding-top: 150px;
}

/*Blog Page*/
#blog ul li {
	list-style-type: circle;
	border-bottom: 3px groove;
	margin-right: 100px;
}

#blog ul li:last-child,
#blog #pager ul li {
	border-bottom: 0;
}

#blog ul li:nth-child(n+5) {
  /*display: none;*/
}

#blog #pager ul li {
	list-style-type: none;
	display: inline-block !important;
	margin-right: 10px;
	cursor: pointer;
}

.main-content#blog {
	text-align: left;
	margin: 0 100px;
	padding-top: 50px;
}

#menu a:visited, #blog a:visited, #officecamlink {
	color: blue;
}

/*FAQ Page*/
.faq#menu a:visited, .faq#menu a, .faq#footer, #links a, #links a:visited {
	color: aqua;
}

.faq#footer {
	padding-top: 100px;
}

.main-content#faq {
	padding-top: 25px;
}

.inner-content {
	text-align: left;
	padding-top: 25px;
	padding-right: 80px;
}

.subtext {
	font-size: small;
	font-style: italic;
}

/*Side Menu & iFrame*/
iframe {
	width: 100%;
	border-width: thick;
	border-style: groove;
}

iframe#menu {
	position: fixed;
	width: 125px;
	height: 100%;
	left: 0;
}

#side-menu ul li a:visited, #side-menu ul li a {
	color: white !important;
}

#side-menu ul li {
	margin-bottom: 5px;
}

.ps {
	text-align: right;
    margin-right: 35px;
}

#midiPlayer {
	display: none;
}

video {
	display: block;
    margin: 0 auto;
	border: 4px groove;
}

/*Links Page*/
#links {
	text-align: left;
}

/*Haunted Stories Page*/
.story {
	display: none;
}

#side-menu.haunted ul li {
	margin-bottom: 10px;
}

#side-menu.haunted ul li a:hover,
#side-menu.haunted ul li a {
	text-decoration: underline;
	cursor: pointer;
}

.mobile {
	display: none;
 } 

 /*Cellular Compatibility*/
@media screen and (min-resolution: 192dpi) { 
  #footer {
	position: fixed !important;
  }

  #footer.faq {
	position: relative !important;
	padding-top: 100px;
  }
  
  .main-content#aboutme, .main-content#links {
	margin-left: 50px !important;
	margin-right: 0 !important;
  }
  
  .ps {
	text-align: left !important;
  }
  
  .main-content, .main-content#aboutme, .main-content#links {
    padding-top: 100px !important;
  }
  
  .main-content#guestbook {
    padding-top: 0 !important;
  }
  
  .main-content#blog,
  .main-content#faq, {
	margin: 0 10px !important;
	margin-bottom: 100px;
  }

  .main-content#faq {
	padding-top: 10px !important;
	margin: 0 10px !important;
  }

  .inner-content {
	padding-right: 35px;
  }
  
  #blog ul li {
	margin-right: 40px !important;
  }
  
  #footer-blog {
	padding-top: 100px !important;
  }
  
  .desktop {
	display: none;
  }
  
  .mobile {
	display: block;
  }
  
  iframe#header {
	width: 108%;
  }
  
  .mobile img {
	width: -webkit-fill-available;
  }
}

@media (orientation: landscape) {
  #footer, #footer-blog {
	position: relative !important;
  }
}
