html {
	background: url('../images/background2.jpg');
}

body {
	color: white;
	margin: 0;
}

body h1, #menu, #footer, #footer-blog, .main-content {
	text-align: center;
}

#menu ul li {
	display: inline-block;
	margin-right: 20px;
}

.main-content {
	min-height: 745px;
}

#footer, #footer-blog {
	position: relative;
    bottom: 0;
	width: 100%;
	padding-bottom: 10px;
}

#footer a, #footer-blog a {
    display: block;
    padding-bottom: 10px;
}

marquee {
    font-size: 20px;
    color: red;
    font-family: "Comic Sans MS";
}

#compatibility {
    position: absolute;
    right: 25px;
    bottom: 15px;
}

#aboutme ul li, #side-menu ul li, #links ul li {
	list-style-type: disclosure-closed;
}
#side-menu ul li {
	margin-bottom: 5px;
}

#blog ul li {
	list-style-type: circle;
	border-bottom: 3px groove;
	margin-right: 100px;
}

#blog ul li:last-child,
#blog #pager ul li {
	border-bottom: 0;
}

#blog ul li:nth-child(n+5) {
  /*display: none;*/
}

#blog #pager ul li {
	list-style-type: none;
	display: inline-block !important;
	margin-right: 10px;
	cursor: pointer;
}

#menu a:visited, #blog a:visited, #officecamlink {
	color: blue;
}

#menu.haunted a:visited,
#menu.haunted a {
	color: limegreen;
}

.aboutme#menu a:visited, .aboutme#menu a {
	color: red;
}

.faq#menu a:visited, .faq#menu a, .faq#footer, #links a, #links a:visited {
	color: aqua;
}

.main-content#blog {
	text-align: left;
	margin: 0 100px;
	padding-top: 50px;
}

.main-content#aboutme, .main-content#links {
	margin-right: 200px;
	text-align: left;
	margin-left: 200px;
	padding-top: 150px;
}

#footer a:hover, #footer-blog a:hover {
	cursor: default;
}

iframe {
	width: 100%;
	border-width: thick;
	border-style: groove;
}

iframe#menu {
	position: fixed;
	width: 125px;
	height: 100%;
	left: 0;
}

iframe#menu.haunted {
	width: 250px;
}

#side-menu ul li a:visited, #side-menu ul li a {
	color: white !important;
}

.ps {
	text-align: right;
    margin-right: 35px;
}

#midiPlayer {
	display: none;
}

video {
	display: block;
    margin: 0 auto;
	border: 4px groove;
}

#links {
	text-align: left;
}

.story {
	display: none;
}

#side-menu.haunted ul li {
	margin-bottom: 10px;
}

#side-menu.haunted ul li a:hover,
#side-menu.haunted ul li a {
	text-decoration: underline;
}
	
#enter {	
	position: absolute;
    left: 45%;
    top: 45%;
}

#enter-page marquee {
    position: absolute;
    top: 60%;
    left: 0;
	color: limegreen;
}

#menu-image {
	position: absolute;
    top: 340px;
    left: 46%;
}

#test tr,
#test td {
	height: 87px;
}

.mobile {
	display: none;
 }
 
 .inline {
	display: inline-block;
	width: 135px;
	text-align: left;
	padding: 10px;
	vertical-align: top;
	margin-top: 5px;
 }
 
 .inline ul {
	padding-left: 15px;
	list-style-type: square;
	padding-bottom: 15px;
	/*border-bottom: 3px groove;*/
 }
 
 .main-content .inline:nth-child(3),
 .main-content .inline:nth-child(4),
 .main-content .inline:nth-child(5) {
	border-right: 3px groove;
}

 .main-content {
    margin: 100px auto;
    width: 860px;
	color: #000;
	background: #fff;
 }
 
 .left {
	text-align: left;
 }
 
 #aolLogo {
	padding-left: 19px;
    padding-bottom: 7px;
    padding-top: 9px;
    width: 136px;
    display: inline-block;
 }
 
 #aolMenu {
	display: inline-block;
	background: red;
    color: #fff;
    height: 38px;
    vertical-align: top;
	width: 701px;
 }
 
 #banner {
	display: block;
    background: #9ACCCD;
    height: 119px;
	margin-top: 5px;
 }
 
 #news ul {
	display: inline-block;
    vertical-align: top;
	list-style-type: square;
 }
 
 #date {
	color: #fff;
    background: #000;
	padding-left: 20px;
 }
 
 h4 {
	 margin: 0;
	 padding: 0;
	 color: red;
	 text-decoration: underline;
 }
 
 h5 {
	margin-top: 10px;
    padding: 0 10px;
	display: inline-block;
	margin-bottom: 0;
	border-right: 1px solid #fff;
 }

@media screen and (min-resolution: 192dpi) { 
  #footer {
	position: fixed !important;
  }
  
  .main-content#aboutme, .main-content#links {
	margin-left: 50px !important;
	margin-right: 0 !important;
  }
  
  .ps {
	text-align: left !important;
  }
  
  .main-content, .main-content#aboutme, .main-content#links {
    padding-top: 100px !important;
  }
  
  .main-content#guestbook {
    padding-top: 0 !important;
  }
  
  .main-content#blog {
	  margin: 0 10px !important;
	  margin-bottom: 100px;
  }
  
  #blog ul li {
	margin-right: 40px !important;
}
  
  #footer-blog {
	  padding-top: 100px !important;
  }
  
  .desktop {
	display: none;
  }
  
  .mobile {
	display: block;
  }
  
  iframe#header {
	width: 108%;
  }
  
  .mobile img {
	width: -webkit-fill-available;
  }
}

@media (orientation: landscape) {
  #footer, #footer-blog {
	position: relative !important;
  }
}

