<style>
a:link
{
	color: rgb(255,255,0); 
}
a:visited
{
	color: rgb(0,51,51); 
} 
a:active 
{
	color: rgb(0,255,153);
}
body
{
	background-color: rgb(102,102,102);
	color: rgb(255,255,204);
}
table
{
	table-border-color-light: rgb(153,255,204);
	table-border-color-dark: rgb(0,0,51); 
}
h1
{
	color: rgb(255,204,51);
}
h2
{
	color: rgb(153,255,102); 
}
h3
{
	color: rgb(51,255,153); 
}
h4
{
	color: rgb(51,255,255);
}
h5
{
	color: rgb(255,204,153);
}
h6
{
	color: rgb(204,255,0);
}
</style>.
