vti_encoding:SR|utf8-nl
vti_syncwith_julesnet2000\:80/fansite:TR|05 Feb 2026 14:11:04 -0600
vti_author:SR|Julien
vti_cachedlinkinfo:VX|S|arthsepd.gif S|artbul1d.gif S|artbul2d.gif S|artbul3d.gif S|artbannd.gif S|artnvhnd.gif S|artnvhsd.gif S|artnvvnd.gif S|artnvvsd.gif S|arthomed.gif S|artnextd.gif S|artprevd.gif S|artupbtd.gif
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_timecreated:TR|05 Feb 2026 14:13:40 -0600
vti_filesize:IX|1674
vti_modifiedby:SR|Julien
vti_backlinkinfo:VX|
vti_cacheddtm:TX|05 Feb 2026 14:13:40 -0600
vti_cachedhasbots:BR|false
vti_nexttolasttimemodified:TR|05 Feb 2026 14:11:04 -0600
vti_extenderversion:SR|3.0.2.1330
vti_timelastmodified:TR|05 Feb 2026 14:11:04 -0600
