vti_encoding:SR|utf8-nl
vti_syncwith_julesnet2000\:80/fansite:TR|05 Feb 2026 14:11:04 -0600
vti_author:SR|Julien
vti_cachedlinkinfo:VX|S|artbanna.gif S|arthsepa.gif S|artbul1a.gif S|artbul2a.gif S|artbul3a.gif S|artnvhna.gif S|artnvhha.gif S|artnvhsa.gif S|artnvvna.gif S|artnvvsa.gif S|artnvvha.gif S|arthomna.gif S|arthomha.gif S|arthomsa.gif S|artnexna.gif S|artnexha.gif S|artnexsa.gif S|artprena.gif S|artpreha.gif S|artpresa.gif S|artupbna.gif S|artupbha.gif S|artupbsa.gif
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_timecreated:TR|05 Feb 2026 14:13:40 -0600
vti_filesize:IX|2128
vti_modifiedby:SR|Julien
vti_backlinkinfo:VX|
vti_cacheddtm:TX|05 Feb 2026 14:13:40 -0600
vti_cachedhasbots:BR|false
vti_nexttolasttimemodified:TR|05 Feb 2026 14:11:04 -0600
vti_extenderversion:SR|3.0.2.1330
vti_timelastmodified:TR|05 Feb 2026 14:11:04 -0600
