<style>
a:link
{
	color: rgb(255,204,0); 
}
a:visited
{
	color: rgb(0,51,0); 
} 
a:active 
{
	color: rgb(102,255,255);
}
body
{
	background-color: rgb(153,153,153);
	color: rgb(255,255,204);
}
table
{
	table-border-color-light: rgb(204,204,153);
	table-border-color-dark: rgb(51,51,0); 
}
h1
{
	color: rgb(0,51,51);
}
h2
{
	color: rgb(0,51,0); 
}
h3
{
	color: rgb(0,51,102); 
}
h4
{
	color: rgb(51,51,102);
}
h5
{
	color: rgb(102,51,0);
}
h6
{
	color: rgb(51,51,0);
}
</style>.
