<style>
.mstheme
{
	top-bar-button: url(btznavgl.gif);
	version: 1.0;
	navbutton-background-color:  rgb(102,153,153);
}
.mstheme-topbar-font
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(0,51,102);
}
body
{
	font-family: Verdana, Arial, Helvetica;
	background-image: url(btztilea.gif); 
}

h1
{
	font-family: Verdana, Arial, Helvetica;
}
h2
{
	font-family: Verdana, Arial, Helvetica;
}
h3
{
	font-family: Verdana, Arial, Helvetica;
}
h4
{
	font-family: Verdana, Arial, Helvetica;
}
h5
{
	font-family: Verdana, Arial, Helvetica;
}
h6
{
	font-family: Verdana, Arial, Helvetica;
}
</style>.
